html, body, .root{
    margin:0;
    height: 100%;
}

h1 {
    text-align: center;
}

.home {
    /*margin:0;*/
    height: 100%;
    background: url(../images/home2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
